<mat-card class="home">
    <mat-card-header>
        <mat-card-title>
            Zopfback Aktion Obere Emme
        </mat-card-title>
        <mat-card-subtitle>
            Am 14. Mai, pünklich zum Muttertag, liefern die Pfadis des Bezirks obere Emme im ganzen Einzugsgebiet Züpfen
            direkt an den Brunchtisch.
            Die involvierten Pfadi Abteilungen:<b>Kuonolf</b>, <b>Hochwacht</b>, <b>Chutze</b> Chutze und <b>Worb</b>
            Worb, liefern sich dabei ein Kopf an Kopf Rennen, um die meisten Zöpfe pro Vereinsmitglied.
            Unterstütze deine Lieblingsabteilung mit einer Zopfbestellung und werde von Ihr am Sonntag von einer
            frischen Züpfe belohnt.<br />
            <br />
            <mat-divider></mat-divider>
            <br />
        </mat-card-subtitle>
        <mat-card-title>
            Wie komme ich zu meiner Züpfe?
        </mat-card-title>
        <mat-card-subtitle>
            <mat-list>
                <mat-list-item> 1. Du wohnst im Einzugsgebiet der oberen Emme</mat-list-item>
                <mat-list-item> 2. Du schickst und eine Zopfbestellung</mat-list-item>
                <mat-list-item> 3. Wir bringen dir den Zopf vor die Haustüre</mat-list-item>
            </mat-list>

        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <button [routerLink]="['/order']" mat-raised-button color="primary">Ich möchte eine Züpfe bestellen!</button>
    </mat-card-content>
</mat-card>