.full-width {
  width: 100%;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.form-progress {
  scale: 1 300%;
  border-radius: 2.5pt;
  width: 95%;
  max-width: 95%;
  margin-left: 2.5%;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}

#form-back-button {
  float: left;
}

#form-next-button {
  float: right;
}

.button-container {
  overflow: auto;
}

#form-finish-button {
  float: right;
}

button {
  margin: 10pt;
}

mat-form-field {
  width: 100%;
}

/* Hide number field buttons */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}