.mdl-cell {
    box-sizing: border-box;
    background-color: #808080;
    color: white;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10pt;
    padding: 10pt;
}

body {
    overflow-wrap: break-word;
}